@import 'reset';

$color-background: rgb(159, 90, 18);
$color-main: rgb(208, 207, 204);

@import 'base';
@import 'layout';


/* Modules */
.triangle {
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle;
}

.triangle-0 {
  width: 100px;
  height: 100px;
  border-bottom: solid 50px $color-main;
  border-right: solid 50px $color-main;
  border-left: solid 50px transparent;
  border-top: solid 50px transparent;
}
